<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
     <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                         <key>kind</key>
                         <string>software-package</string>
                         <key>url</key>
                         <string>https://vk.com/doc252003524_659440091?hash=Wz3TZrUjd70uEsjEF0jwQEa6xjSo3SSW2u5Q5bZ28YX&dl=RVZltcD2HWeMAjvw15nHT0M3a5rbm3glx1ZoINC9pjs</string>
                     </dict> 
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/IlIXXIlI/ICON/main/4.jpg</string>
                </dict>                 
                 </array>
                 <key>metadata</key>
                 <dict>
                     <key>bundle-identifier</key>
                     <string>p3.xyz.yyyue.esign17</string>
                     <key>bundle-version</key>
                     <string>1.0</string>
                     <key>kind</key>
                     <string>software</string>
                     <key>title</key>
                     <string>ESign</string>
                 </dict>
             </dict>
         </array>
     </dict>
 </plist>
