<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
     <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                         <key>kind</key>
                         <string>software-package</string>
                         <key>url</key>
                         <string>https://public.db.files.1drv.com/y4m-Z0xt56xsYbQi1ost6vJsZlUUbfkzb60-nDbaplz4A8UKvBVWeXtSO9LJN97mFvWCtgaeUTYeOFYRr8E1-9H6DHyLbOehPhWnrPOu-IHjoZFoC0O4pDeMaxPjjpk9IfkN9_mOk1ylaHJfvLQgMemZ_koGXi-g_VfBydIIPsLtSf0hX1OXyR9dtOXrZg0PIsDbeOZZExVm5TQcW_I7I4aZJyfyiKil3HLbnqeJszLcHc?AVOverride=1</string>
                     </dict> 
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/IlIXXIlI/ICON/main/5.jpg</string>
                </dict>       
                 </array>
                 <key>metadata</key>
                 <dict>
                     <key>bundle-identifier</key>
                     <string>com.zhiliaoapp.musically1</string>
                     <key>bundle-version</key>
                     <string>28.4.0</string>
                     <key>kind</key>
                     <string>software</string>
                     <key>title</key>
                     <string>TikTok</string>
                 </dict>
             </dict>
         </array>
     </dict>
 </plist>
