<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
     <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                         <key>kind</key>
                         <string>software-package</string>
                         <key>url</key>
                         <string>//downloader.disk.yandex.ru/disk/f969877bcb02292d3648854db94d49eed4a6ba51291f9e932446abe9e10c7441/64203952/RUQtetVZLjQhX2YinCKOPOprkmVrDoAhRFQ-ZcxAc5ew4rsXpg6bR6eZEgRlWDs9XnvgyPc2UNj9JKr22lD2hg%3D%3D?uid=1418919106&filename=TikTok_28.4.1_boedark.ipa&disposition=attachment&hash=&limit=0&content_type=application%2Fx-ios-app&owner_uid=1418919106&fsize=157144048&hid=9a2b06e52ec0d4e801a245e1c7e914e7&media_type=unknown&tknv=v2&etag=04e6f216c00debc6d04dcaef7e51eabd</string>
                     </dict>  
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/IlIXXIlI/ICON/main/5.jpg</string>
                </dict>   
                 </array>
                 <key>metadata</key>
                 <dict>
                     <key>bundle-identifier</key>
                     <string>com.zhiliaoapp.musically2</string>
                     <key>bundle-version</key>
                     <string>28.4.0</string>
                     <key>kind</key>
                     <string>software</string>
                     <key>title</key>
                     <string>TikTok</string>
                 </dict>
             </dict>
         </array>
     </dict>
 </plist>
