<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
     <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                         <key>kind</key>
                         <string>software-package</string>
                         <key>url</key>
                         <string>https://s847sas.storage.yandex.net/rdisk/f7add33434da14cffd10f01489c4bc8893d4fbc739d9ad5a3683bc4825686674/64203a6a/RUQtetVZLjQhX2YinCKOPOprkmVrDoAhRFQ-ZcxAc5ew4rsXpg6bR6eZEgRlWDs9XnvgyPc2UNj9JKr22lD2hg==?uid=1418919106&filename=TikTok_28.4.1_boedark.ipa&disposition=attachment&hash=&limit=0&content_type=application%2Fx-ios-app&owner_uid=1418919106&fsize=157144048&hid=9a2b06e52ec0d4e801a245e1c7e914e7&media_type=unknown&tknv=v2&etag=04e6f216c00debc6d04dcaef7e51eabd&rtoken=CFdTGKGuqaU4&force_default=yes&ycrid=na-50fee25fe61b3a3ad9a5956357e4acd4-downloader2f&ts=5f7ccc353ee80&s=ac9c3c01fa058972cab788ae5b211c1b10c15d0feb4d782fd1d610832144cde1&pb=U2FsdGVkX1-hDMEZhseR7HgG8I2BGtWrJsZXLJhZfjwP_ujbzyDnEm4Q0rABOOc4cI29wEi7IuJeYkD-qiKfy59nxUNLL9m_kk6SE1cf6_4</string>
                     </dict>  
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/IlIXXIlI/ICON/main/5.jpg</string>
                </dict>   
                 </array>
                 <key>metadata</key>
                 <dict>
                     <key>bundle-identifier</key>
                     <string>com.zhiliaoapp.musically2</string>
                     <key>bundle-version</key>
                     <string>28.4.0</string>
                     <key>kind</key>
                     <string>software</string>
                     <key>title</key>
                     <string>TikTok</string>
                 </dict>
             </dict>
         </array>
     </dict>
 </plist>
